@import '~antd/dist/antd.less';


.parent_content {
    .ant-tabs > .ant-tabs-nav .ant-tabs-nav-list, .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-list{
        width: 90%;
        justify-content: space-between;
    }
    .ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap, .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-wrap {
        justify-content: center;
        background: #FFEBF3;
    }
    .parentTabs .ant-tabs-content-holder{
        height: 100%;
        background-color: aqua;
    }
}