@import '~antd/dist/antd.less';

.parentLess_detail{
    .ant-tabs{
        width: 100%;
    }

    .ant-tabs > .ant-tabs-nav .ant-tabs-nav-list, .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-list{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    //  {
    //     display: flex;
    //     justify-content: center;
    // }
}
