@import '~antd/dist/antd.less';

.layou_search .boNzi {
    height: auto;
    // margin: 0 auto;

}

.input_color .ant-input {
    background-color: #EAEAEA;
}

.header-less.ant-layout-header{
    height: auto;
    max-width: 1270px;
    width:100%;
    color: rgba(0, 0, 0, 0.85);
    background: #ffffff;
    padding:0;
}