@import '~antd/dist/antd.less';

.customeItem .ant-menu-inline .ant-menu-selected::after, .ant-menu-inline .ant-menu-item-selected::after {
    opacity : 0;
}
.customeItem.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background: #FFC8DF;
    border: 0.4px solid #D6D6D6;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}