@import '~antd/dist/antd.less';

.formnestCssWithLess .ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before{
    content :none;
}

.lessBtnLogin.ant-btn-primary {
    width: 270px;
    height: 59px;
    background: #E14486;
    border-radius: 8px;
}



.btnLess_login .ant-form-item-control-input-content{
    display :flex;
    justify-content: center;
}